<div class="container-fluid bg-dark text-white py-4">
  <div class="container my-4">
    <div class="row mb-4">
      <div class="col-3">
        <h3 class="h5">Help</h3>
        <ul class="list-unstyled">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Find a store</a></li>
          <li><a href="#">Check for outages</a></li>
          <li><a href="#">Troubleshoot an issue</a></li>
          <li><a href="#">Consumer advice</a></li>
          <li><a href="#">Financial hardship</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="h5">About</h3>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Partners and causes</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="h5">Privacy and terms</h3>
        <ul class="list-unstyled">
          <li><a href="#">Critical Information Summaries</a></li>
          <li><a href="#">Our customer terms</a></li>
          <li><a href="#">Your information</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Our website terms</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="h5">Always Conn sites</h3>
        <ul class="list-unstyled">
          <li><a href="#">Always Conn Wholesale</a></li>
          <li><a href="#">Global Enterprises & Services</a></li>
          <li><a href="#">Always Conn Media</a></li>
          <li><a href="#">Always Conn Health</a></li>
          <li><a href="#">Always Conn Plus</a></li>
          <li><a href="#">Find us</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="h5">Find us</h3>
        <ul class="list-unstyled d-flex">
          <li class="mr-4"><a href="#">Facebook</a></li>
          <li class="mr-4"><a href="#">Instagram</a></li>
          <li class="mr-4"><a href="#">Twitter</a></li>
          <li class="mr-4"><a href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
