<div class="container-fluid bg-dark text-white py-4">
  <div class="container my-4">
    <h3 class="sr-only">Contact</h3>
    <p class="lead d-inline">Do you have any questions? </p>
    <p class="lead d-block d-md-inline-block mb-3">Call <a href="tel:+5543996309200">(43) 99630-9200</a></p>
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled d-md-flex">
          <li class="mr-4"><a href="https://trends.google.com/trends/trendingsearches/daily?geo=BR" rel="noopener" target="_blank">Frequently Asked Questions</a></li>
          <li class="mr-4"><a href="mailto:thiagoferezim@gmail.com" rel="noopener" target="_blank">Contact us</a></li>
          <li class="mr-4"><a href="#" title="🍪">Privacy and cookies</a></li>
        </ul>
        <div class="input-group-append ml-auto">
          <button type="button" class="btn btn-lg btn-outline-light dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe mr-2" aria-hidden="true"></i>
            <span>English</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#">English (United States)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
