<footer>
  <div class="container-fluid bg-dark text-white py-4">
    <div class="container my-4">
      <div class="row mb-4">
        <div class="col-3">
          <h3 class="h5">Help</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="btn-link disabled">Contact us</a></li>
            <li><a href="#" class="btn-link disabled">Support</a></li>
            <li><a href="#" class="btn-link disabled">Find a store</a></li>
            <li><a href="#" class="btn-link disabled">Check for outages</a></li>
            <li><a href="#" class="btn-link disabled">Troubleshoot an issue</a></li>
            <li><a href="#" class="btn-link disabled">Consumer advice</a></li>
            <li><a href="#" class="btn-link disabled">Financial hardship</a></li>
          </ul>
        </div>
        <div class="col-3">
          <h3 class="h5">About</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="btn-link disabled">About us</a></li>
            <li><a href="#" class="btn-link disabled">Careers</a></li>
            <li><a href="#" class="btn-link disabled">Partners and causes</a></li>
            <li><a href="#" class="btn-link disabled">Investors</a></li>
            <li><a href="#" class="btn-link disabled">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-3">
          <h3 class="h5">Privacy and terms</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="btn-link disabled">Critical Information Summaries</a></li>
            <li><a href="#" class="btn-link disabled">Our customer terms</a></li>
            <li><a href="#" class="btn-link disabled">Your information</a></li>
            <li><a href="#" class="btn-link disabled">Privacy</a></li>
            <li><a href="#" class="btn-link disabled">Our website terms</a></li>
          </ul>
        </div>
        <div class="col-3">
          <h3 class="h5">Always Conn sites</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="btn-link disabled">Always Conn Wholesale</a></li>
            <li><a href="#" class="btn-link disabled">Global Enterprises & Services</a></li>
            <li><a href="#" class="btn-link disabled">Always Conn Media</a></li>
            <li><a href="#" class="btn-link disabled">Always Conn Health</a></li>
            <li><a href="#" class="btn-link disabled">Always Conn Plus</a></li>
            <li><a href="#" class="btn-link disabled">Find us</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="h5">Find us</h3>
          <ul class="list-unstyled d-flex">
            <li class="mr-4"><a href="#" class="btn-link disabled">Facebook</a></li>
            <li class="mr-4"><a href="#" class="btn-link disabled">Instagram</a></li>
            <li class="mr-4"><a href="#" class="btn-link disabled">Twitter</a></li>
            <li class="mr-4"><a href="#" class="btn-link disabled">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
