<app-header></app-header>
<main>
  <app-banner></app-banner>
  <section name="plans">
    <div class="container-fluid bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <app-plans-advantages></app-plans-advantages>
          </div>
          <div class="col-7">
            <p>our plans</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section name="faq">
    <div class="container-fluid bg-info text-white py-5">
      <p>faq area</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
