<main>
  <section name="plan-details">
    <div class="container-md">
      <div class="row">
        <div class="col">
          <h1 class="h2">About you</h1>
          <p class="lead text-muted">Everything we know about you</p>
        </div>
      </div>
      <div class="row py-sm-5">
        <div class="col-12 col-sm-10 col-lg-8 mb-5 mb-md-0">
          <form>
            <div class="form-group row">
              <label for="inputEmail" class="col-md-4 col-form-label">Your email address</label>
              <div class="col-md-8">
                <input type="email" 
                       name="email"
                       [(ngModel)]="email"
                       #inputEmail="ngModel"
                       id="inputEmail"
                       class="form-control-plaintext" 
                       aria-describedby="inputEmail"
                       readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-md-4 col-form-label">Your password</label>
              <div class="col-md-8">
                <input type="text" 
                       name="password"
                       id="inputPassword"
                       class="form-control-plaintext" 
                       aria-describedby="inputPassword"
                       readonly
                       value="Just kidding. We don't know your password.">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPlan" class="col-md-4 col-form-label">Your plan subscription</label>
              <div class="input-group col-md-8">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-signal mr-2" aria-hidden="true"></i></span>
                </div>
                <input type="text"
                       name="plan"
                       [(ngModel)]="plan"
                       #inputPlan="ngModel"
                       id="inputPlan"
                       class="form-control text-uppercase" 
                       aria-describedby="inputPlan"
                       readonly>
                <div class="input-group-append">
                  <a (click)="choosePlan()" class="btn btn-primary text-white text-uppercase" role="button">Change plan</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-3 offset-1 d-none d-lg-block">
          <img src="../assets/img/user-information.jpg" alt="pessoa olhando para você" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</main>
