:root {
  --primary:  #da9c6b;
  --secondary:#02875a;
  --success:  #28a745;
  --info:     #17a2b8;
  --warning:  #ffc107;
  --danger:   #dc3545;
  --white:    #f1f1f1;
  --light:    #bebebe;
  --gray:     #737373;
  --gray-dark:#404040;
  --dark:     #262626;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.text-primary { 
  color: var(--primary)!important; 
}

.text-secondary { 
  color: var(--secondary)!important; 
}

.text-white { 
  color: var(--white)!important; 
}

.bg-dark { 
  background-color: var(--gray-dark)!important; 
}

.bg-light {
  background-color: var(--light)!important;
}

.bg-white {
  background-color: var(--white)!important;
}

.dev * {
  outline: dashed 1px hotpink;
}
