<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <app-plans-advantages></app-plans-advantages>
      </div>
      <div class="col-7">
        <div class="d-flex flex-column justify-content-between text-center h-100 p-4" style="background:rgba(255,255,255,.6)">
          <div>
            <h1 class="display-4 text-primary font-weight-bold mb-0">Stay connected</h1>
            <h2 class="h1 text-black">wherever you are</h2>
          </div>
          <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <div class="input-group">
              <input type="email" 
                     name="email" 
                     class="form-control form-control-lg" 
                     placeholder="Email address" 
                     aria-label="Email address" 
                     aria-describedby="signupInput" 
                     [(ngModel)]="email"
                     #inputEmail="ngModel"
                     required
                     email>
              <div class="input-group-append">
                <button class="btn btn-primary text-uppercase" type="submit" id="button-signup" [disabled]="!signupForm.form.valid">Try it now<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></button>
              </div>
            </div>
            <p id="signupInput" class="form-text lead text-muted">Enter your email to create or restart your membership.</p>
            <div class="invalid-feedback" *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
              Email is required and needs to be a valid email.
            </div>
            <div class="valid-feedback" *ngIf="inputEmail.valid && inputEmail.dirty">
              Email is correct.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
