<main>
  <section name="available-plans">
    <div class="container">
      <h1 class="h2">Choose the best plan for you</h1>
      <p class="lead text-muted mb-4">Switch plans whenever you want</p>
      <h2 class="h3 mb-3">Our plans</h2>
      <div class="row mb-5">
        <div class="col-12">
        </div>
        <div class="col-10 col-md-6 col-lg-4">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fa fa-usd fa-lg" aria-hidden="true"></i> Essential
            </div>
            <div class="card-body">
              <h5 class="card-title">For a low price</h5>
              <p class="card-text">There’s no need to spend a lot of money on a plan to keep you connected to respond to messages and answer calls.</p>
            </div>
            <div class="card-footer">
              <a (click)="choosePlan('essential')" class="btn btn-block btn-primary text-white text-uppercase stretched-link">Select this plan</a>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-4">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fa fa-usd fa-lg" aria-hidden="true"></i><i class="fa fa-usd fa-lg" aria-hidden="true"></i> Plus
            </div>
            <div class="card-body">
              <h5 class="card-title">Great cost advantage</h5>
              <p class="card-text">Best plan to access social networks every day, for as long as you want.</p>
            </div>
            <div class="card-footer">
              <a (click)="choosePlan('plus')" class="btn btn-block btn-primary text-white text-uppercase stretched-link">Select this plan</a>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-4">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fa fa-diamond fa-lg" aria-hidden="true"></i> Unlimited
            </div>
            <div class="card-body">
              <h5 class="card-title">Maximum benefits</h5>
              <p class="card-text">Have the best service we can offer, with no use limit.</p>
            </div>
            <div class="card-footer">
              <a  (click)="choosePlan('unlimited')" class="btn btn-block btn-primary text-white text-uppercase stretched-link">Select this plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
